body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.container {
    margin: auto;
    width: 100%;
}

@media (max-width: 640px) {
    body {
        font-size: 120% !important;
    }
}

@media (max-width: 540px) {
    body {
        font-size: 110% !important;
    }
}

@media (max-width: 450px) {
    body {
        font-size: 100% !important;
    }
}

@media (max-width: 375px) {
    body {
        font-size: 90% !important;
    }
}

@media (max-width: 320px) {
    body {
        font-size: 80% !important;
    }
}

@media (max-width: 285px) {
    body {
        font-size: 70% !important;
    }
}

.bg-main {
    background-color: rgb(252, 246, 237);
    width: 100%;
    height: 100%;
}

.session1 {
    padding-top: 15%;
    text-align: center;
}

.session2 {
    padding-top: 10%;
    text-align: center;
}

.session2-1 {
    padding-top: 15%;
    padding-bottom: 5%;
    text-align: center;
}

.selected-bord {
    margin: auto;
    width: 22em;
    height: 32em;
    border-radius: 2.5em;
    background-color: #FFFFFF;
}

.session3 {
    padding-top: 5%;
    text-align: center;
}

.i-want-join {
    margin: auto;
    width: 21em;
    height: 10em;
    line-height: 10em;
    border-radius: 1em;
    background-color: #ff9595;
}

.session4 {
    padding: 2em 2em 0 2em;
}

.session5 {
    padding: .5em 2em 0 2em;
}

.session6 {
    padding: 0em 2.5em 5em 2.5em;
}

/* color*/

.color-red-style {
    color: rgb(218, 63, 63)
}

.bg-color-gary-style {
    background-color: rgb(134, 134, 134) !important;
}

/* table style*/

.bt {
    border-top: 1.5pt solid rgb(19, 18, 117);
    padding: .4rem;
}

.bb {
    border-bottom: 1.5pt solid rgb(19, 18, 117);
}

.br {
    border-right: 1.5pt solid rgb(19, 18, 117)
}

.bl {
    border-left: 1.5pt solid rgb(19, 18, 117)
}

.tl-radius {
    border-top-left-radius: 1em;
}

.tr-radius {
    border-top-right-radius: 1em;
}

.bl-radius {
    border-bottom-left-radius: 1em;
}

.br-radius {
    border-bottom-right-radius: 1em;
}

.selected-bord-table {
    border: 1.5pt solid rgb(19, 18, 117)
}

/* table style*/

/* circle style*/

.circle {
    margin: .2em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 45px;
    color: white;
    background-color: rgb(212, 77, 77);
    display: inline-block;
    overflow-y: auto;
}

.selected-button {
    margin: .4em .2em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 12px;
    color: black;
    background-color: rgb(236, 236, 236);
    display: inline-block;
    cursor: pointer;
}

.selected-button:active {
    background-color: rgb(177, 175, 175);
}

.btn-confirm {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: .4em 4em;
    border: 0px;
    border-radius: 25px;
    background-color: #c24848;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.btn-confirm:active {
    background-color: #993030;
}

