<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <title>入口網站</title>
</head>
<style>
    body {
        font-family: "微軟正黑體", "Arial";
    }
</style>
<script>
    function sendForm() {
        if ($('#txtPwd').val() != '' && $('#txtUserAD').val() != '') {
            $('#form1').submit();
        } else {
            return;
        }
    }
</script>

<body>
    <div id="app">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="http://172.19.246.22:8080/sson/">SSO系統管理</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">sso系統</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">首頁</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">uat</a>
                            </li>
                            <li class="nav-item dropdown">
                                <!-- <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div v-if="this.isShow" class="container mt-5">
            <form id="form1" method="post" class="mb-5" action="http://psr075/EsunSSO/SSO/opt.jsp">
                <div class="card  shadow bg-body rounded">
                    <h5 class="card-header">SSO登入</h5>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">請輸入帳號</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtUserAD" class="form-control" v-model="account"
                                    id="txtUserAD">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">請輸入密碼</label>
                            <div class="col-sm-10">
                                <input type="password" name="txtPwd" class="form-control" v-model="mima" id="txtPwd">
                            </div>
                        </div>
                        <a type="input" class="btn btn-secondary" @click="getSSOList">登入</a>
                    </div>
                </div>
            </form>
            <!-- <script src="http://172.19.246.105:8080/snippets/2.js"></script>
            <script src="http://172.19.246.105:8080/snippets/1.js"></script> -->
        </div>
        <div v-if="!this.isShow" class="container mt-5">
            <h2 class="mb-3">常用連結</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
                <div class="col " v-for="itemFavor in ssolistFavor">
                    <div class="card h-100 border-light shadow bg-body rounded" style="cursor: pointer;"
                        @click="location.href=itemFavor.ssoUrl">
                        <div class="card-body">
                            <p class="card-title">{{itemFavor.ssoName}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="mb-3">其他連結</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col " v-for="item in ssolist">
                    <div class="card h-100 border-light shadow bg-body rounded" style="cursor: pointer;"
                        @click="location.href=item.ssoUrl">
                        <div class="card-body">
                            <p class="card-title">{{item.ssoName}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            inputNum: '',
            url: 'http://psr075/EsunSSO/SSO/opt.jsp?',
            ssolist: [],
            ssolistFavor: [],
            favorlist: ['上線單申請系統', '信用卡系統參數中心2.0(EsunParam)', '資料庫【異動】申請作業(DBApply)', '資料庫【查詢】申請作業(DBQuery)'],
            isShow: true,
            account: '',
            mima: '',
        },
        computed: {
            openUrl: function () {
                return this.url + this.inputNum
            }
        }, methods: {
            getSSOList: function () {
                const requestOptions = {
                    method: "POST",
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    },
                    body: 'txtUserAD=' + this.account + '&txtPwd=' + this.mima,
                };
                if (this.account != '' && this.mima != '') {
                    let postUrl = this.url + 'txtUserAD=' + this.account + '&txtPwd=' + encodeURIComponent(this.mima);
                    var win = window.open(postUrl, "_blank", "width=10, height=10");
                    setTimeout(function () { win.close() }, 600);
                    fetch(postUrl, requestOptions)
                        .then(async response => {
                            let htmlString = await response.text();
                            let doc3 = new DOMParser().parseFromString(htmlString, "text/html");
                            let aTags = doc3.getElementsByClassName('noline');
                            this.ssolist = new Array(aTags.length - this.favorlist.length);
                            this.ssolistFavor = new Array(this.favorlist.length);
                            let a = 0, b = 0;
                            for (let i = 0; i < aTags.length; i++) {
                                let ssoUrl;
                                // ssoUrl = aTags[i].href.replace('172.19.246.22:8080/sson', 'psr075/EsunSSO/SSO');
                                ssoUrl = aTags[i].href.replace('127.0.0.1:5500/sson', 'psr075/EsunSSO/SSO');
                                if (this.favorlist.includes(aTags[i].innerText.trim())) {
                                    this.ssolistFavor[a] = { 'ssoName': aTags[i].innerText, 'ssoUrl': ssoUrl };
                                    a++;
                                } else {
                                    this.ssolist[b] = { 'ssoName': aTags[i].innerText, 'ssoUrl': ssoUrl };
                                    b++;
                                }
                            }
                            this.isShow = false;
                        })
                        .catch(error => {
                            console.log(error);
                            console.error('There was an error!');
                        });
                } else {
                    alert("請輸入完整的帳號密碼");
                    return;
                }
            }
        }

    })
</script>

</html>